OMADA_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXX
OMADA_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXX
OMADA_BASE_URL=https://use1-omada-northbound.tplinkcloud.com
OMADA_OMADAC_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
OMADA_SITE_ID=XXXXXXXXXXXXXXXXXXXXXX
OMADA_GATEWAY_MAC=XX-XX-XX-XX-XX-XX
WAN_PRIMARY_PORT_ID=1_XXXXXXXXXXXXXXXXXXXXX
WAN_BACKUP_PORT_ID=2_XXXXXXXXXXXXXXXXXXXXX
CONSECUTIVE_BAD_TO_TRIGGER=12
CHECK_INTERVAL_SECONDS=5
LOG_LEVEL=DEBUG


#TESTING
DRY_RUN=false
#to trigger failover
#PING_TARGETS=192.0.2.1,192.0.2.2,192.0.2.3
#CONSECUTIVE_BAD_TO_TRIGGER=3
#CHECK_INTERVAL_SECONDS=2
#LOG_LEVEL=DEBUG
#tp trigger failback
#PING_TARGETS=1.1.1.1,8.8.8.8,9.9.9.9

